p= "Hello #{@user.name},"
p= "#{@admin.name} has invited you to join the #{@admin.company.name} Marketplace team."
p
  =' link_to 'Click here', edit_user_url(@user.token)
  to finish setting up your account.
p Thank you,
p Marketplace
