= f.input   :name, input_html: { class: 'input-xxlarge' }
= f.input   :logo, input_html: { class: 'input-xxlarge' }
= f.input   :synopsis, input_html: { class: 'input-xxlarge' }
= f.input   :description, input_html: { class: 'input-xxlarge' }
