= simple_form_for @company, as: :company, url: admin_company_path, multipart: true do |f|
  = render partial: 'form', locals: { f: f }
  = f.button  :submit, 'Save Draft', name: :save, disabled: @company.pending?
  = f.button  :submit, 'Submit For Approval', disabled: @company.pending?
