= simple_form_for @company, as: :company, url: admin_company_path, method: :patch, multipart: true do |f|
  = render partial: 'form', locals: { f: f }
  =' f.button  :submit, t('save_draft'), name: :save, disabled: @company.pending?
  = f.button  :submit, disabled: @company.pending?
