p= "Hello #{@user.name},"
p= "The Company Profile for #{@company.name} has been approved by an Marketplace administrator. The Company Profile will be visible in the Marketplace provided there is also an approved Product."
p Thank you,
p Marketplace
