p= "Hello #{@user.name},"
p= "An Marketplace Administrator has declined to publish the #{@company.name} Company Profile in the Marketplace for the following reason:"
p= @reason
p
  'View
  = link_to 'more details.', edit_admin_company_url
p Thank you,
p Marketplace
