/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body, html { height: 100%; }
#wrap { min-height: 96%; }

.translation_missing { background: red; color: black; }

.content { background: white; padding: 20px 50px; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.page-title {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
  h2 { color: #76a426; font-weight: lighter; margin: 0; }
}
