.banner { text-align: center; }
.search-bar {
  background: #fbfbfb;
  border: 2px solid #fefefe;
  border-bottom: none;
  padding: 10px;
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: -20px;
}
