p= "Hello #{@user.name},"
p= "The #{@company.name} product, #{@product.name}, has been approved for publishing by an AppZone Marketplace administrator."
p= "The product will be visible in the Marketplace provided there is also a published Company Profile."
p Thank you,
p AppZone Marketplace
