p= "Hello #{@admin.name},"
p= "#{@user.name}, of #{@company.name} submitted a request to publish the product, #{@product.name}, on #{@date}."
p
  =' link_to 'Click here', edit_admin_partner_product_url(@product)
  ' to review and edit this request.
p Thank you,
p Marketplace
