p= "Hello #{@user.name},"
p= "An Marketplace Administrator has unpublished your product, #{@product.name}, in the Marketplace for the following reason:"
p= @reason
p
  'View
  = link_to 'more details.', admin_products_url
p Thank you,
p Marketplace
